code {
  font-family: monospace;
  word-break: break-all;
}

article {
  margin-bottom: 6rem;
}
.postcontent {
  padding-bottom: 5rem;
  font-size: 1.5rem;
  line-height: 1.75em;

  a {
    color: $contentacolor;
  }

  img {
    width: 100%;
    border: solid 1px gray;
    margin: 1rem 0;
  }

  > code {
    float: left;
  }

  // Below is both for p spacing within content and for displaying nested lists in content!
  p, > ul { // The top-level UL element in the content, as well as any P elements, need to use margins instead of padding so that any header elements above can dictate the entirety of the spacing
    margin-top: 1rem;
    padding-bottom: 1rem;
    clear: both;
  }
  li ul { // Nest ULs need fancy styling
    padding-bottom: .5rem;
    li {
      list-style: circle outside;
      margin-left: 2rem;
      line-height: 1.35em;
    }
  }

  h2, h3 {
    margin: 1rem 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: $contentheadercolor;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

.postmeta {
  width: 35%;
  text-align: center;
  margin: 0 auto 2.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px gray;
  color: $posttitlecolor;
  letter-spacing: .5px;
  h1, h2 {
    font-family: $posttitlefont;
    font-size: 2rem;
    padding: .25rem 0 .75rem;
  }
  time {
    font-size: 1.35rem;
  }
}

hr {
  border: solid 1px lightgray;
  border: 1px 0 0;
  margin: 3rem 0;
}

p.push {
  margin-bottom: 3rem;
}

.fifty {
  font-size: 150%;
}
.contenta {
  color: $contentacolor;
}

+respond-to(max-width,675px)
  .postmeta, .postcontent
    display: block;
    width: 100%;
  .postcontent
    border-bottom: solid 4px #D7D7D7;
  .postmeta
    text-align: center;
    h1, h2
      font-size: 2rem;