footer {
  color: $footercolor;
  font-size: 1.8rem;
  text-align: center;
  padding: 5rem 0;
}
#footer-menu {
  font-family: $footerfont;
  font-size: 1.75rem;
  li {
    display: inline-block;
    padding-left: 3rem;
    &:first-child {
      padding-left: 0;
    }
  }
}
#theme {
  color: $repocolor;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin: 8rem 0 4rem;
  i {
    font-size: 3.3rem;
    padding-bottom: .5rem;
  }
  &:hover {
      color: $repohoverc;
  }
}
