code {
  font-family: monospace;
  word-break: break-all;
}

article {
  margin-bottom: 6rem;
}

.postmeta {
  padding-bottom: .75rem;
  border-bottom: solid 1px gray;
  color: $posttitlecolor;
  h1, h2 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: .75rem 0 .75rem;
  }
  time {
    font-size: 1.35rem;
  }
}

hr {
  border: solid 1px lightgray;
  border: 1px 0 0;
  margin: 3rem 0;
}

.postcontent {
  padding: 1.5rem 0 5rem;
  font-size: 1.5rem;
  line-height: 1.75em;
  color: $posttitlecolor;

  a {
    color: $contentacolor;
  }

  img {
    width: 100%;
    border: solid 1px gray;
    margin: 1rem 0;
  }

  > code {
    float: left;
  }

  // Below is both for p spacing within content and for displaying nested lists in content!
  p, > ul {
    padding-bottom: 1rem;
    clear: both;
  }
  li ul { // Nest ULs need fancy styling
    padding-bottom: .5rem;
    li {
      list-style: circle outside;
      margin-left: 2rem;
      line-height: 1.35em;
    }
  }

  h2, h3 {
    margin: 1rem 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: $contentheadercolor;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

p.push {
  margin-bottom: 3rem;
}

.fifty {
  font-size: 150%;
}

+respond-to(max-width,675px)
  .postcontent
    border-bottom: solid 4px #D7D7D7;