$segoe =  "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif
$baskerville = Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif
$opensans = 'Open Sans'

$bodyfont = $opensans
$bodybgc = white

$bannercolor = #404040
$bannerfont = $baskerville

$menuhighlight = #247A9B
$innerbuttonhighlight = #4D1C48

$posttitlecolor = $bannercolor
$posttitlefont = $bannerfont

$contentacolor = #638BE1
$contentheadercolor = #00A0B2

$footercolor = #777777
$footerfont = $bannerfont

$repocolor = #638BE1
$repohoverc = #3573C1